<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stepper.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">MCDA Weight calculator</a>
</nav>
<div class="d-flex mt-4">
    <div class="wrapper-progressBar">
        <ul class="progressBar">
            <li id="1"><span>Enter decision matrix dimensions</span></li>
            <li id="2"><span>Enter decision matrix values</span></li>
            <li id="3"><span>Choose weighting methods</span></li>
            <li id="4"><span>Choose comparing methods</span></li>
            <li id="5"><span>Results</span></li>
        </ul>
    </div>
</div>
{% block content %}{% endblock %}
<script>
    var page = 0;

    function getPage(page_id) {
        switch (page_id) {
            case 1:
                return '/';
            case 2:
                return '/matrix';
            case 3:
                return '/weights';
            case 4:
                return '/comparison';
            case 5:
                return '/results';
        }
    }

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            switch (document.location.pathname) {
                case '/':
                    page = 1;
                    break;
                case '/matrix':
                    page = 2;
                    break;
                case '/weights':
                    page = 3;
                    break;
                case '/comparison':
                    page = 4;
                    break;
                case '/results':
                    page = 5;
                    break;
            }

            $('ul li').each(function () {
                if (parseInt(this.id) < page) {
                    $(this).addClass('done');
                } else if (parseInt(this.id) === page) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass();
                }
                $(this).on('click', function () {
                    if (parseInt(this.id) < page) {
                        window.location.pathname = getPage(parseInt(this.id));
                    }
                });
            });
        });
    })();
</script>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>