{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center mt-5 ">
        <div class="flex-column">
            <h3>Choose comparison methods</h3>
            <input type="checkbox"> Show results immediately
        </div>
    </div>

    <form method="POST">
        <div class="d-flex justify-content-center">
            <div id="methods" class="flex-column mt-5">
                <div id="corr0">
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <label for="correlation0" class="col-form-label">Compare with: </label>
                        </div>
                        <div class="ml-2">
                            <select id="correlation0" name="corr_result0" class="method-select form-control">
                                <option value="-">-</option>
                                <option value="Pearson">Pearson</option>
                                <option value="WS">ws</option>
                                <option value="Weighted Spearman">weighted Spearman</option>
                                <option value="Euclidean distance">euclidean distance</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-4" id="corr_result0"></div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <i class="btn fas fa-plus fa-2x mr-1 m-3 text-primary" id="add-method"></i>
        </div>
        <div class="form-row mt-5 justify-content-center">
            <a class="btn btn-primary m-3" href="\weights" role="button">Back</a>
            <button class="btn btn-primary m-3" type="submit">Next</button>
        </div>
    </form>
    <script>
        var corr_number = 0;
        var show = false;

        function getCorrelation(name) {
            switch (name) {
                case 'WS':
                    return `{{ corrs['WS'].to_html(border=0, classes="table table-striped table-sm") | safe }}`;
                case 'Weighted Spearman':
                    return `{{ corrs['Weighted Spearman'].to_html(border=0, classes="table table-striped table-sm") | safe }}`;
                case 'Euclidean distance':
                    return `{{ corrs['Euclidean distance'].to_html(border=0, classes="table table-striped table-sm") | safe }}`;
                case 'Pearson':
                    return `{{ corrs['Pearson'].to_html(border=0, classes="table table-striped table-sm") | safe }}`;
                case '-':
                    return '';
            }
        }

        function listenForSelectChanges() {
            $('.method-select').change(function () {
                let to_remove = {};
                $.each($('.method-select'), function (key, value) {
                    if (this.value != '-') {
                        to_remove[this.value] = 1;
                    }
                    if (show) {
                        document.getElementById(this.name).innerHTML = getCorrelation(this.value);
                    } else {
                        document.getElementById(this.name).innerHTML = '';
                    }
                });
                $.each($('.method-select'), function (key, value) {
                    $.each(this.children, function (subkey, subvalue) {
                        if (to_remove[this.value]) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                });
            });
        }

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                listenForSelectChanges();

                $(':checkbox').change(function () {
                    show = !show;
                    $('.method-select').change();
                });

                $('#add-method').on('click', function () {
                    if (corr_number < 4) {
                        corr_number += 1;
                        $('#methods').append("<div id=\"corr" + corr_number + "\">\n" +
                            "                    <div class=\"d-flex flex-row justify-content-center\">\n" +
                            "                        <div>\n" +
                            "                            <label for=\"correlation" + corr_number + "\" class=\"col-form-label\">Compare with: </label>\n" +
                            "                        </div>\n" +
                            "                        <div class=\"ml-2\">\n" +
                            "                            <select id=\"correlation" + corr_number + "\" name=\"corr_result" + corr_number + "\" class=\"method-select form-control\">\n" +
                            "                                <option value=\"-\">-</option>\n" +
                            "                                <option value=\"Pearson\">Pearson</option>\n" +
                            "                                <option value=\"WS\">WS</option>\n" +
                            "                                <option value=\"Weighted Spearman\">weighted Spearman</option>\n" +
                            "                                <option value=\"Euclidean distance\">euclidean distance</option>\n" +
                            "                            </select>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"d-flex justify-content-center mt-2 mb-4\" id=\"corr_result" + corr_number + "\"></div>\n" +
                            "                </div>");
                        listenForSelectChanges();
                        $('.method-select').change();
                        if (corr_number === 3)
                            $('#add-method').removeClass("text-primary");
                    }
                })
            });
        })();
    </script>
{% endblock %}