{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <h3>Enter decision matrix values:</h3>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <form method="POST" action="/matrix" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
                <div class="custom-file mb-5 ml-5 mr-5">
                    <input type="file" name="file" class="custom-file-input" onchange="submitForm()"
                           accept=".xlsx, .xls, .csv"
                           id="m-file">
                    <label class="custom-file-label" for="m-file">or upload .xlsx or .csv file</label>
                </div>
            </div>
            <table class="ml-3 mr-3">
                <tr>
                    {% for i in range(X.no_criteria + 1) %}
                        {% if i == 0 %}
                            <th scope="col"></th>
                        {% else %}
                            <th scope="col" class="text-center pb-2">C{{ i }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for i in range(X.no_alternatives) %}
                    <tr>
                        {% for j in range(X.no_criteria + 1) %}
                            {% if j == 0 %}
                                <th scope="col" class="text-right pr-3">A{{ i + 1 }}</th>
                            {% else %}
                                <td><input class="form-control text-center" type="textbox"
                                           name="matrix[{{ i }}][{{ j - 1 }}]"
                                           value="{{ X.values[i][j-1] }}"/></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="col" class="pr-3">Criteria type</th>
                    {% for i in range(X.no_criteria) %}
                        <td><select class="form-control text-center" name="type{{ i }}">
                            <option value="profit">Profit</option>
                            <option value="cost">Cost</option>
                        </select></td>
                    {% endfor %}
                </tr>
            </table>
            <div class="form-row m-3 justify-content-center">
                <a class="btn btn-primary m-3" href="\" role="button">Back</a>
                <button class="btn btn-primary m-3" type="submit">Next</button>
            </div>
        </form>
    </div>

    {% include "matrix_modal.html" %}

    <script>
        function submitForm() {
            $('form').submit();
        }

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var msg = '{{ msg.text }}';
                if (msg !== '') {
                    $("#myModal").modal();
                }
            });
        })();
    </script>
{% endblock %}