{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div>
            <h3>Enter decision matrix dimensions:</h3>
            <div id='dim-picker' class="mt-5">
                <form class="needs-validation" action="/" method="POST" novalidate>
                    <div class="form-row m-3 justify-content-center">
                        <label for="alternatives-number" class="col-6 col-form-label">Number of
                            alternatives:</label>
                        <input name="no_a" type="number" class="form-control col-3" id="alternatives-number" value=1
                               required>
                    </div>
                    <div id="invalid-feedback-alternatives" style="display: none; color: red">
                        Number of alternatives should be an integer greater than 0.
                    </div>
                    <div class="form-row m-3 justify-content-center">
                        <label for="criteria-number" class="col-6 col-form-label">Number of criteria:</label>
                        <input name="no_c" type="number" class="form-control col-3" id="criteria-number" value=1
                               required>
                    </div>
                    <div id="invalid-feedback-criteria" style="display: none; color: red">
                        Number of criteria should be an integer greater than 0.
                    </div>
                    <div class="form-row m-3 justify-content-center">
                        <button class="btn btn-primary m-3" type="submit" id="submit-button">Next</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                bootstrapValidate('#alternatives-number', 'regex:^[1-9][0-9]*$:');
                bootstrapValidate('#criteria-number', 'regex:^[1-9][0-9]*$:');
                $('#submit-button').on('click', function (event) {
                    if (document.getElementsByClassName('form-control is-invalid').length != 0) {
                        event.preventDefault();
                    }
                });
                var a_input = document.querySelector('#alternatives-number');
                var c_input = document.querySelector('#criteria-number');
                var patt = new RegExp("^[1-9][0-9]*$");

                a_input.addEventListener('input', function () {
                    var val = this.value;
                    if (patt.test(val)) {
                        $('#invalid-feedback-alternatives').hide();
                    } else {
                        $('#invalid-feedback-alternatives').show();
                    }
                });
                c_input.addEventListener('input', function () {
                    var val = this.value;
                    if (patt.test(val)) {
                        $('#invalid-feedback-criteria').hide();
                    } else {
                        $('#invalid-feedback-criteria').show();
                    }
                });

            }, false);
        })();
    </script>

{% endblock %}