<div class="modal" tabindex="-1" id="myModal" role="dialog" style="margin-top: 10%">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if msg.failure %}
                    <i class="far fa-times-circle fa-2x mr-1" style="color: red"></i>
                    <h5 class="modal-title" style="color: red">
                        Upload failed
                    </h5>
                {% else %}
                    <i class="far fa-check-circle fa-2x mr-1" style="color: green"></i>
                    <h5 class="modal-title" style="color: green">
                        Upload successful
                    </h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h6>{{ msg.text }}</h6>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>