{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center mt-5 ">
        <h3>Final results</h3>
    </div>

    <div class="d-flex justify-content-center mt-5 ">
        <div class="flex-column justify-content-center">
            <h5 class="mt-3 text-center">Decision matrix</h5>
            {{ decision_matrix.to_html(border=0, classes="table table-striped table-sm text-center") | safe }}
        </div>
    </div>
    {% if not weights.empty %}
        <div class="d-flex justify-content-center mt-5 ">
            <div class="flex-column justify-content-center">

                <h5 class="mt-3 text-center">Weights matrix</h5>
                {{ weights.to_html(border=0, classes="table table-striped table-sm text-center") | safe }}

            </div>
        </div>
    {% endif %}
    {% if corrs %}
        <div class="d-flex justify-content-center mt-5 ">
            <div class="flex-column justify-content-center">
                <h5 class="mt-3 text-center">Comparison</h5>
                {% for i in corrs %}

                    <h6 class="mt-4 mb-2 text-center">{{ i }}</h6>
                    {{ corrs[i].to_html(border=0, classes="table table-striped table-sm text-center") | safe }}

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="form-row mt-5 justify-content-center">
        <a class="btn btn-primary m-3" href="\comparison" role="button">Back</a>
    </div>

{% endblock %}