{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="flex-column">
            <h3>Choose weighting methods</h3>
            <input type="checkbox"> Show results immediately
        </div>
    </div>
    <form method="POST">
        <div class="d-flex justify-content-center">
            <div id="methods" class="flex-column mt-5">
                <div id="met0">
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <label for="method0" class="col-form-label">Method: </label>
                        </div>
                        <div class="ml-2">
                            <select id="method0" name="methodw0" class="method-select form-control">
                                <option value="-">-</option>
                                <option value="Mean">mean</option>
                                <option value="Statistical variance">statistical variance</option>
                                <option value="Standard deviation">standard deviation</option>
                                <option value="Entropy">entropy</option>
                                <option value="IDOCRIW">IDOCRIW</option>
                                <option value="CRITIC">CRITIC</option>
                                <option value="CILOS">CILOS</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mb-4" id="methodw0"></div>
                </div>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <i class="btn fas fa-plus fa-2x mr-1 m-3 text-primary" id="add-method"></i>
        </div>
        <div class="form-row mt-5 justify-content-center">
            <a class="btn btn-primary m-3" href="\matrix" role="button">Back</a>
            <button class="btn btn-primary m-3" type="submit">Next</button>
        </div>
    </form>
    <script>
        var method_number = 0;
        var show = false;

        function getWeights(name) {
            switch (name) {
                case 'Mean':
                    return '{{ format_weights(W['Mean']) | safe }}';
                case 'Standard deviation':
                    return '{{ format_weights(W['Standard deviation']) | safe }}';
                case 'Statistical variance':
                    return '{{ format_weights(W['Statistical variance']) | safe }}';
                case 'Entropy':
                    return '{{ format_weights(W['Entropy']) | safe }}';
                case 'CILOS':
                    return '{{ format_weights(W['CILOS']) | safe }}';
                case 'IDOCRIW':
                    return '{{ format_weights(W['IDOCRIW']) | safe }}';
                case 'CRITIC':
                    return '{{ format_weights(W['CRITIC']) | safe }}';
                case '-':
                    return '';
            }
        }


        function listenForSelectChanges() {
            $('.method-select').change(function () {
                let to_remove = {};
                $.each($('.method-select'), function (key, value) {
                    if (this.value != '-') {
                        to_remove[this.value] = 1;


                    }
                    if (show) {
                        var temp = getWeights(this.value);
                        if (temp.includes('nan')) {
                            document.getElementById(this.name).innerHTML = 'Not possible to calculate weights with given method for input matrix';
                        } else {
                            document.getElementById(this.name).innerHTML = temp;
                        }
                    } else {
                        document.getElementById(this.name).innerHTML = '';
                    }
                });
                $.each($('.method-select'), function (key, value) {
                    $.each(this.children, function (subkey, subvalue) {
                        if (to_remove[this.value]) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    });
                });
            });
        }

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                listenForSelectChanges();

                $(':checkbox').change(function () {
                    show = !show;
                    $('.method-select').change();
                });

                $('#add-method').on('click', function () {
                    if (method_number < 7) {
                        method_number += 1;
                        $('#methods').append("<div class=\"mt-2\" id=\"met" + method_number + "\"><div class=\"d-flex flex-row justify-content-center\"><div>\n<label class=\"col-form-label\" for=\"method" + method_number + "\">Method: </label>\n</div>\n" +
                            "            <div class=\"ml-2\"><select id=\"method" + method_number + "\" name=\"methodw" + method_number + "\" class=\"method-select form-control\">\n" +
                            "                <option value=\"-\">-</option>\n" +
                            "                <option value=\"Mean\">mean</option>\n" +
                            "                <option value=\"Statistical variance\">statistical variance</option>\n" +
                            "                <option value=\"Standard deviation\">standard deviation</option>\n" +
                            "                <option value=\"Entropy\">entropy</option>\n" +
                            "                <option value=\"IDOCRIW\">IDOCRIW</option>\n" +
                            "                <option value=\"CRITIC\">CRITIC</option>\n" +
                            "                <option value=\"CILOS\">CILOS</option>\n" +
                            "            </select>\n" +
                            "            </div></div><div class=\"d-flex justify-content-center mt-2 mb-4\" id=\"methodw" + method_number + "\"></div>\n" +
                            "            </div>");
                        listenForSelectChanges();
                        $('.method-select').change();
                        if (method_number == 6)
                            $('#add-method').removeClass("text-primary");
                    }
                })
            });
        })();
    </script>
{% endblock %}