.wrapper-progressBar {
    width: 100%
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressBar li.done:hover span {
    background-color: rgba(0, 0, 0, 0.05);;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    border-left: none;
    display: block;
    text-align: center;
    margin: 8.5px auto 0px;
    background-color: #eee;
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 16px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-right: none;
    top: 24px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #0275d8;
}

.progressBar li.active:before {
    border-color: #0275d8;
    background-color: #0275d8
}

.progressBar .active:after {
    background-color: #0275d8;
}

.progressBar li.done {
    cursor: pointer;
    color: grey;
}

.progressBar li.done:before {
    background-color: #0275d8;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22check%22%20class%3D%22svg-inline--fa%20fa-check%20fa-w-16%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M173.898%20439.404l-166.4-166.4c-9.997-9.997-9.997-26.206%200-36.204l36.203-36.204c9.997-9.998%2026.207-9.998%2036.204%200L192%20312.69%20432.095%2072.596c9.997-9.997%2026.207-9.997%2036.204%200l36.203%2036.204c9.997%209.997%209.997%2026.206%200%2036.204l-294.4%20294.401c-9.998%209.997-26.207%209.997-36.204-.001z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.progressBar .done:after {
    background-color: #0275d8;
}